<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h1>Hello CYF</h1>
    <p>The current time in Unix epoch is {{time}}</p>
    <p>And here is a random number for you: {{number}}</p>
    <br/>
    <h2>Week 2</h2>
    <p>Welcome to my space - I am {YOUR_NAME}</p>
    <p>According to the 1st API, my lucky number is {{lucky}}</p>
    <p>According to the 2nd API, my worst meal is {{worst}}</p>
    <p>I am not yet done if can see my lucky number, which is, {{worstsource}}</p>
</body>

</html>